<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSession" class="iit.lims.util.RefreshableSqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:sqlmap/sql-mapper-config.xml" />
		<!-- <property name="plugins">
			<list>
				<bean class="iit.lims.util.MybatisLogInterceptor" />
			</list>
		</property> -->
	</bean>
</beans>